@if ( authenticated() ) {
  <app-navbar />
} @else {
  <div class="app-container">

  <!-- Error State -->
    @if (keycloakStatus() === 'AuthError') {
      <div class="error-state">
        <div class="error-title">Oops!</div>
        <div class="error-message">Something went wrong</div>
        </div>
    }

  <!-- Main Content -->
    @if (!(keycloakStatus() === 'AuthError')) {
      <div class="app-container">
        <div class="main-card-wrapper">
        <img
        src="freepik__img1-with-a-stylized-p-the-name-of-the-company-is-__99985.png"
        alt="Picshare Logo"
        class="logo"
        />
        <!-- Unauthenticated State -->
        <div class="action-card">
        <p class="action-text">Get started by signing in to your account</p>
        <app-login-button />
        <app-register-button />
        </div>
        </div>
        </div>
    }
  </div>
}
