<mat-card class="card" appearance="outlined">
  @if ( post.isLoading() ) {
  <mat-spinner />
  } @else if ( post.hasValue() ){
  <mat-card-header>
    @if ( user.isLoading() ){
      <mat-spinner />
    } @else if(user.hasValue()) {
      <ng-container>
        <img mat-card-avatar [ngSrc]="user.value().avatarUrl">
        <mat-card-title>{{ user.value().username }}</mat-card-title>
        </ng-container>
    }
  </mat-card-header>
    <img mat-card-image [ngSrc]="post.value().imageUrl">
    <mat-card-content>
    <p>{{ post.value().description }}</p>
    </mat-card-content>
  }
