.user-data {
  width: 100%;
  display: grid;
  grid-template: 2fr 2fr;
}

.user-component-1 {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.user-component-2 {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.user-component-3 {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}

