services:
  user-service:
    image: user-service:latest
    build:
      context: ./user-service
      environment:
        SPRING_DATASOURCE_URL: jdbc:postgresql
      KC_DB_USERNAME: ${POSTGRES_USER}   # corrisponde a POSTGRES_USER
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}  # corrisponde a POSTGRES_PASSWORD
      KC_DB_URL_DATABASE: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7080/health/ready"]
      interval: 15s
      timeout: 2s
      retries: 15
    command: ["start-dev", "--http-port", "7080", "--https-port", "7443"]
    ports:
      - "7080:7080"
      - "7443:7443"
    networks:
        - local_network

  postgresql:
    image: postgres:latest
    volumes:
      - auth-service-data:/var/lib/postgresql
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    networks:
        - local_network

volumes:
  auth-service-data:


networks:
  local_network:
    driver: bridge
